:root {
    --height-row : 50px;
    --form-row-padding : 8px;
    --mast-bgr-color : #FDE4BB;
    --svg-size : 25px;
}

.b-container {
    width: 800px;
    height: 900px;
    background-color: #9590e1;
    margin: 0 auto;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

#popup-container-background {
    position: fixed;
    background-color: rgba(255, 228, 196, 0.5);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;

    font-size: 1.2rem;
    font-family: Arial;

    display: none;

}

.popup-container {
    width: 450px;
    /*border: 2px solid black;*/
    margin: 0 auto;
    position: absolute;
    padding: 1rem;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    box-shadow: 10px 10px 7px  rgba(192,143,143,0.75) inset,
    -10px -10px 7px  rgba(192,143,143,0.75) inset;
    background-color: var(--mast-bgr-color);

    font:inherit;
}


.mobile #popup-container-background {
    font-size: 2rem;
}
.mobile .popup-container {
    width : 90%;
    --height-row : 100px;
}



